<!-- YouTube embed -->
<div class="video">
  <iframe
    src="https://www.youtube.com/embed/{{KuWnF3Onvl0}}{% if include.start %}?start={{ include.start }}{% endif %}"
    title="{{ include.title | default: 'YouTube video' }}"
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
    allowfullscreen>
  </iframe>
</div>

<div class="video">
  <iframe
    src="https://www.youtube.com/embed/{{z6VjQhyKt6w}{% if include.start %}?start={{ include.start }}{% endif %}"
    title="{{ include.title | default: 'YouTube video' }}"
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
    allowfullscreen>
  </iframe>
</div>
